@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

body {
    background: #3DCF27;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}

* {
}

.heading {
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin: 0;
}

.container {
    height: 100vh;
}

#game {
    height: 75vh;
    margin-left: 5rem;
}

#question {
    font-size: 3rem;
} 

